.border {
    /*border shouldn't show in fron of anything*/
    z-index: 0;
    /*width of border should be controlled*/
    display: inline-block;
}

.top-border {
    /*flip the image vertically*/
    transform: scaleY(-1);
    /*nothing fits above*/
    margin-top: 0%;
    /*width won't apply to side borders*/
    width: min(max(80vw,32rem), 75rem); 
}

.left-border {
    /*placeholder, make responsive later*/
    height: 50rem;
    margin-left: 0;
    margin-right: auto;
}
.right-border {
    /*placeholder, make responsive later*/
    height: 50rem;
    transform: scaleX(-1);
    margin-left: auto;
    margin-right: 0;
}

.page-top-border{
    /*leave room for the header*/
    margin-top:  6.25rem;
}

.bottom-border {
    /*no extra room below*/
    margin-bottom: 0%;
    width: min(max(80vw,32rem), 75rem); 
}

.border-container {
    display: flex;
    /*there should be no room on the same horizontal plane as this*/
    width:100%;
    /* Center align the border */
    justify-content: center; 
    /* stops some wonky formatting when size gets bigger than viewport*/
    overflow: visible
}

/* separator */
.separator {
    background-color: var(--color-secondary);
    width: 100vw;
    height: 10rem;
}

/* remove borders if room does not allow */
@media screen and (max-width: 460px){
    .left-border, .right-border {
        width: 0%;
        display: none;
    }
}
