.btn {
    /*anchors shouldn't have underlines*/
    text-decoration: none;
    font-family: var(--font-primary);
    font-weight: bolder;

    display: flex;
    align-items: center;
    justify-content: center;

    /*default visual*/
    border: 1px solid var(--color-text-light);
    border-radius: 2pt;
    background-color: var(--color-secondary);
    color: var(--color-text-light);
    font-size: 1rem;
    padding: 0.5rem 3rem 0.7rem 3rem;
}

/*inverted color*/
.btn.invert-color {
    border-color: var(--color-text-dark);
    background-color: var(--color-primary);
    color: var(--color-text-dark);
}

/*add hover, pressed, and focused states*/

.btn:hover{
    /*nice little transition*/
    transform: translateY(-0.3rem);
    transition: all 0.2s ease-out;
}

.btn:focus-visible {
    outline: none; 
    box-shadow: 0 0 5px 2px grey;
}

/*icon buttons*/
.icon-button {
    /*override border and padding on default button*/
    border: 0;
    padding: 0;
    
    justify-content: center;  /* Center align horizontally, if needed */
    width: 2rem;
    height: 2rem;
}

.icon-button:focus-visible{
    box-shadow: 0 0 5px 2px grey,
                inset 0 0 5px 2px grey;
}

.icon-image { 
    height: 2rem;
    width: 2rem;
}


/*cta buttons*/
.cta-button {
    /*sizing and spacing*/
    padding: 0.75rem 2rem;
    border-radius: 2rem;
    font-size: 0.9rem;
    margin: 0.2em;
    /*typography*/
    font-family: var(--font-display);
    font-size: var(--text-xs);
    /*visuals*/
    background-color: var(--color-accent-1);
    color: var(--color-text-light);
    box-shadow: 0px 0.2em 1px rgba(0,0,0,0.05);
    /*spacing and sizing*/
    width: 14rem;
    height: 4rem;
    /*transition*/
    transition: all 0.2s ease-out;
}

.cta-button:hover{
    /*typography*/
    font-size: var(--text-sm);
    /*visuals*/
    background-color: var(--color-accent-2);
    transform: translateY(-0.3rem);
    box-shadow: 0px 0.5em 1px rgba(0,0,0,0.05);
    /*transition*/
    transition: all 0.2s ease-out;
}

/*category button*/
.category-button {
    border-radius: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    box-shadow: 0px 0.2em 1px rgba(0,0,0,0.05);

    width: 20rem;
    height: 20rem;

    width: min(20rem, 35vw);

    padding-bottom: 2rem;
    /*default, will be overwritten*/
    background: 
        /* Gradient overlay */
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),
        /* Background image */
        url('https://images.unsplash.com/photo-1593642634367-d91a135587b5');

    /*typography*/
    text-align: center;
    text-decoration: none;
    font-family: var(--font-display);
    font-size: var(--text-lg);
    color: var(--color-text-light);

}

.category-button.top-left {
    border-radius: 70% 2rem 2rem 2rem;

    background: 
        /* Gradient overlay */
        var(--gradient-accent-one-to-transparent),
        /* Background image */
        url('https://images.unsplash.com/photo-1593642634367-d91a135587b5');

    background-size: cover;
}

.category-button.top-right {
    border-radius: 2rem 70% 2rem 2rem;

    background: 
        /* Gradient overlay */
        var(--gradient-accent-two-to-transparent),
        /* Background image */
        url('https://images.unsplash.com/photo-1593642634367-d91a135587b5');

    background-size: cover;
}

.category-button.bottom-left {
    background: 
        /* Gradient overlay */
        var(--gradient-accent-two-to-transparent),
        /* Background image */
        url('https://images.unsplash.com/photo-1593642634367-d91a135587b5');

    background-size: cover;
}

.category-button.bottom-right {
    background: 
        /* Gradient overlay */
        var(--gradient-accent-one-to-transparent),
        /* Background image */
        url('https://images.unsplash.com/photo-1593642634367-d91a135587b5');

    background-size: cover;
}

.category-button:hover {
    box-shadow: 0px 0.5em 1px rgba(0,0,0,0.05);
}

@media screen and (max-width: 460px){
    /*adapt category buttons to suit smaller screens*/ 
    .category-button {
        font-size: var(--text-md);
    }
}