.cart-section {
    /* spacing */
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: calc(((100% - min(max(80vw,32rem), 75rem)) / 2));
    padding-right: calc((100% - min(max(80vw,32rem), 75rem)) / 2);

    /* display */
    display: flex;
    flex-direction: row;
    overflow: hidden;

    /* visuals */
    border: none;
    border-top: 1px solid var(--color-text-light);
    background-color: var(--color-secondary);

    /* animation */
    height: 0rem; /* starts with 0 width and expands on page opening */
    opacity: 0; /*so cart is not visible at start of animation*/
    animation: cart-drop 0.5s ease-in-out forwards;
}

@keyframes cart-drop {
    from {
        height: 0rem;
        opacity: 0;
    }

    to {
        height: 12rem;
        opacity: 1;
    }
}

.cart-section > .column {
    display: flex;
    flex-direction: column;
}

.cart-section > .column-left {
    justify-content: space-between;
    width: 100%;
}

.cart-section > .column-middle {
    justify-content: center;
    width: auto;
    padding: 0 2rem;
}

.cart-section > .column-middle > * {
    margin: 0;
}

.cart-section > .column-middle > .item-count {
    text-align: right;
    font-size: var(--text-md);
}

.cart-section > .column-middle > .cart-total {
    text-align: right;
    font-size: var(--text-xl);
    font-weight: 700;
}

.cart-section > .column-right {
    width: 50%;
    justify-content: center;
}

.cart-section > .column-right > .cta-button {
    align-self: center;
}

.cart-section > .column-left > .heading.page-heading {
    font-size: var(--text-lg);
}

.cart-section > .column-left > .options {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.options > * {
    color: var(--color-text-light);
    font-family: var(--font-primary);
}

/* not a button anchor */
.options > a {
    text-decoration: none;
}
.options > a:hover {
    text-decoration: underline;
}

/* check mark */
.checkbox-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

/* input is invisible and sits on top of check mark */
.checkbox-container input[type="checkbox"] {
    opacity: 0;
    margin-right: 1rem;
    margin-bottom: 2rem;
    /* ensure the input is above the checkmark */
    z-index: 2; 
}
/* style of check mark will change with the invisible input that the player is actually pressing */
.checkbox-container .checkmark {
    position: absolute;
    height: 2rem;
    width: 2rem;
    border: 2px solid var(--color-text-light);
    border-radius: 3px;
    /* ensure the checkmark is below the input */
    z-index: 1; 
}

.checkbox-container input[type="checkbox"]:checked + .checkmark:after {
    content: "";
    position: absolute;
    display: block;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    /* Check color */
    border: solid var(--color-text-light); 
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox-container label {
    /* Label color */
    color: var(--color-text-light); 
    margin-left: 0.25rem;
}

/* main content section */
.main-content-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-left: calc(((100% - min(max(80vw,32rem), 75rem)) / 2));
    margin-right: calc((100% - min(max(80vw,32rem), 75rem)) / 2);
}

.empty-message {
    /* will be displayed by javascript when all items are removed */
    display: none;
    /* border */
    border: 1px solid var(--color-text-dark);
    border-radius: 4px;
    /* spacing */
    padding: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 1.5rem;
}
/* override button style */
.empty-message > .btn {
    background-color: var(--color-accent-1);
    border-radius: 8px;
}

.items-list {
    /* border */
    border: none;
    border-right: 1px solid var(--color-text-dark);
    /* position, size and space */
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

/* heading typography */
.items-list > .heading {
    text-align: center;
    font-size: var(--text-xl);
}

.items-list > .list-container {
    display: flex;
    flex-direction: column;
    /* center aligns vertically */
    align-self: center;
    width: 80%;
}

/* headers for the columns */
.items-list > .list-container > .properties {
    display: flex;
    flex-direction: row;
}
/* subtotal amount text */
.items-list > .list-container > .subtotal {
    text-align: right;
}
/* checkout button under item list */
.items-list > .list-container > .checkout-button {
    font-size: var(--text-md);
}

/* spacing and alignment of data in item cards */
.quantity-column{
    text-align: right;
}
.quantity-column.column-heading{
    text-align: left;
}

.price-column.column-heading {
    margin-right: 0.75rem;
}
.price-column {
    text-align: right;
    margin-left: 2.25rem;
}

.product-column{
    justify-self: flex-start;
    text-align: left;
    width: 100%;
}

.product-column.column-heading{
    margin-left: 8.5rem;
}

/* item cars */
.item-card {
    display: flex;
    border: 1px solid var(--color-text-dark);
    border-radius: 0.5rem;
    margin-bottom: 1rem;

    transition: all 1s ease-in-out;
}

/* makes a bigger gap between last item card and subtotal */
.item-card:last-child{
    margin-bottom: 5rem;
}

/* image container in item card */
.item-image {
    /* ensures no stretching */
    object-fit: cover;
    margin: 0.75rem;
}
/* image in item card */
.item-image > img {
    margin: 0;
    padding: 0%;
    width: 7rem;
    height: 7rem;
    box-shadow: 0px 0.2rem 1px rgba(0,0,0,0.05);
}

/* container of  remove button, quanitity text, and price text*/
.item-card > .item-other {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.75rem;
    padding: 0%;
    width: 30%;
}

.item-card > .item-other > * {
    width: 100%;
}
/* quanitity and price are horizontally beside each other */
.item-card > .item-other > .horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0%;
}

.item-card > .item-other > .horizontal > * {
    width: 50%;
    margin: 0;
}

/* recommended products */

.recommended-products {
    text-align: center;
    width: 40%;
    margin: 2rem 0 2rem 0;
}

.recommended-options {
    width: 100%;
    /* will be scrollable in mobile view */
    overflow-x: visible;
}

/* "recommended" heading */
.recommended-products > .heading {
    text-align: center;
    font-size: var(--text-md);
    margin-bottom: 2rem;
    margin-left: 2rem;
}

/* the anchors that lead to the product page of recommended products (basically the entire card)*/
.btn.recommended-product {
    /* override btn style */
    background: none;
    border: none;
    /* display */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* spacing */
    padding: 0%;
    margin-left: 2rem;
}

/* margins for cards in the list */
.recommended-product + .recommended-product {
    /* will be updated in mobile view */
    margin-top: 1rem;
}

.recommended-product > .recommended-image {
    /* ensure no stretching */
    object-fit: cover;
}
/* sit fixed size for image */
.recommended-product > .recommended-image > img {
    width: 10rem;
    height: 10rem;
}

/* name, price, rating */
.recommended-product > .text-data {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.recommended-product > .text-data > * {
    text-align: left;
}
.recommended-product > .text-data > .product-name {
    line-height: 90%;
    margin: 0;
    padding: 0;
}
.recommended-product > .text-data > .star-rating {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
}
/* stars overlap each other because I thought that looked cool */
.recommended-product > .text-data > .star-rating > * + * {
    margin-left: -1rem;
}


  /*adapts to mobile*/
@media screen and (max-width: 768px){
    /* item and recommended sections are beneath eachother, not beside anymore */
    .main-content-section {
        flex-direction: column;
        justify-content: flex-start;
    }

    /* change the border to suit the position change */
    .items-list {
        border: none;
        border-bottom: 1px solid var(--color-text-dark);
        width: 100%;
    }
    /* ensure the section covers the width of the container, not the smaller portion like in desktop mode */
    .recommended-products {
        width: 100%;
    }
    /* adaptive change to mobile */
    .recommended-options {
        width: 100%;
        display: flex;
        flex-direction: row;
        /* ensures they do overflow the container so its scorllable */
        flex-wrap: nowrap;
        overflow-x: hidden;
    }
    .btn.recommended-product {
        flex-direction: column;
    }
    .recommended-product + .recommended-product {
        margin-top: 0;
        margin-left: 1rem;
    }
    /* margin is irrelevant with adapted position */
    .recommended-product > .text-data {
        margin-left: 0rem;
    }
    .recommended-product > .text-data > .text-content {
        width:10rem;
    }
}