.cart-section {
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: calc(((100% - min(max(80vw,32rem), 75rem)) / 2));
    padding-right: calc((100% - min(max(80vw,32rem), 75rem)) / 2);

    opacity: 0;
    display: flex;
    flex-direction: row;
    border: none;
    border-top: 1px solid var(--color-text-light);
    background-color: var(--color-secondary);

    overflow: hidden;

    /* starts with 0 width and expands on page opening */
    height: 0rem;
    animation: cart-drop 0.5s ease-in-out forwards;
}

@keyframes cart-drop {
    from {
        height: 0rem;
        opacity: 0;
    }

    to {
        height: 12rem;
        opacity: 1;
    }
}

.cart-section > .column {
    display: flex;
    flex-direction: column;
}

.cart-section > .column-left {
    justify-content: space-between;
    width: 100%;
}

.cart-section > .column-middle {
    justify-content: center;
    width: auto;
    padding: 0 2rem;
}

.cart-section > .column-middle > * {
    margin: 0;
}

.cart-section > .column-middle > .item-count {
    text-align: right;
    font-size: var(--text-md);
}

.cart-section > .column-middle > .cart-total {
    text-align: right;
    font-size: var(--text-xl);
    font-weight: 700;
}

.cart-section > .column-right {
    width: 50%;
    justify-content: center;
}

.cart-section > .column-right > .cta-button {
    align-self: center;
}

.cart-section > .column-left > .heading.page-heading {
    font-size: var(--text-lg);
}

.cart-section > .column-left > .options {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.options > * {
    color: var(--color-text-light);
    font-family: var(--font-primary);
}


.options > a {
    text-decoration: none;
}

.options > a:hover {
    text-decoration: underline;
}

/* check mark */
/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc; 
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* main content section */
.main-content-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-left: calc(((100% - min(max(80vw,32rem), 75rem)) / 2));
    margin-right: calc((100% - min(max(80vw,32rem), 75rem)) / 2);
}

.empty-message {
    /* will be displayed by javascript when all items are removed */
    display: none;
    border: 1px solid var(--color-text-dark);
    padding: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 1.5rem;
}

.empty-message > .btn {
    background-color: var(--color-accent-1);
    border-radius: 2rem;
}

.items-list {
    width: 60%;
    display: flex;
    flex-direction: column;
    border: none;
    border-right: 1px solid var(--color-text-dark);
    padding-bottom: 2rem;
}

.items-list > .heading {
    text-align: center;
    font-size: var(--text-xl);
}

.items-list > .list-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 80%;
}

.items-list > .list-container > .properties {
    display: flex;
    flex-direction: row;
}

.items-list > .list-container > .subtotal {
    text-align: right;
}

.items-list > .list-container > .checkout-button {
    font-size: var(--text-md);
}

.quantity-column{
    text-align: right;
}
.quantity-column.column-heading{
    text-align: left;
}

.price-column.column-heading {
    margin-right: 0.75rem;
}
.price-column {
    text-align: right;
    margin-left: 2.25rem;
}

.product-column{
    justify-self: flex-start;
    text-align: left;
    width: 100%;
}

.product-column.column-heading{
    margin-left: 8.5rem;
}

.item-card {
    display: flex;
    border: 1px solid var(--color-text-dark);
    border-radius: 3.5rem 3.5rem 0.5rem 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;

    transition: all 1s ease-in-out;
}

.item-card:last-child{
    margin-bottom: 5rem;
}

.item-image {
    object-fit: cover;
    margin: 0.75rem;
}

.item-image > img {
    margin: 0;
    padding: 0%;
    width: 7rem;
    height: 7rem;
    box-shadow: 0px 0.2rem 1px rgba(0,0,0,0.05);
}

.item-card > .item-other {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.75rem;
    padding: 0%;
    width: 30%;
}

.item-card > .item-other > * {
    width: 100%;
}

.item-card > .item-other > .horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0%;
}

.item-card > .item-other > .horizontal > * {
    width: 50%;
    margin: 0;
}

/* recommended products */

.recommended-products {
    text-align: center;
    width: 40%;
    margin: 2rem 0 2rem 0;
}

.recommended-options {
    width: 100%;
    overflow-x: visible;
}

.recommended-products > .heading {
    text-align: center;
    font-size: var(--text-md);
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.btn.recommended-product {
    background: none;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0%;
    margin-left: 2rem;
}

.recommended-product + .recommended-product {
    margin-top: 1rem;
}

.recommended-product > .recommended-image {
    object-fit: cover;
}
.recommended-product > .recommended-image > img {
    width: 10rem;
    height: 10rem;
}

.recommended-product > .text-data {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.recommended-product > .text-data > * {
    text-align: left;
}

.recommended-product > .text-data > .product-name {
    line-height: 90%;
    margin: 0;
    padding: 0;
}

.recommended-product > .text-data > .star-rating {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
}

.recommended-product > .text-data > .star-rating > * + * {
    margin-left: -1rem;
}


  /*adapts to mobile*/
@media screen and (max-width: 768px){
    .main-content-section {
        flex-direction: column;
        justify-content: flex-start;
    }

    .items-list {
        border: none;
        border-bottom: 1px solid var(--color-text-dark);
        width: 100%;
    }
    .recommended-products {
        width: 100%;
    }
    .recommended-options {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: hidden;
    }
    .btn.recommended-product {
        flex-direction: column;
        width: 10rem; /* Adjust width as needed */
    }
    .recommended-product + .recommended-product {
        margin-top: 0;
        margin-left: 1rem;
    }
    .recommended-product > .text-data {
        margin-left: 0rem;
    }
}