/*GRID SETUP*/
.hero-section {
    /*lines up margins with border*/
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: calc((100% - min(max(80vw,32rem), 75rem)) / 2);
    margin-left: calc(((100% - min(max(80vw,32rem), 75rem)) / 2)) ;
    /*grid setup*/
    grid-template-columns: 1.6fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    /*what grid item goes where*/
    grid-template-areas: 
        "heading other-images big-image"
        "cta other-images big-image";
}
/*assign each grid item to their spot*/
.heading-container {
    grid-area: heading;
}
.cta-container {
    grid-area: cta;
}
.tagline-container {
    grid-area: tagline;
}
.throwaway-image-container {
    grid-area: other-images;
    display: flex;
}
.display-image-container {
    grid-area: big-image;
    width: 100%;
}

/*inside grid-item layouts*/

/*set deafault styling*/
.hero-section > .grid-item {
    display: flex;
    padding: 0%;
}
/*heading container*/
.hero-section > .heading-container {
    justify-content: flex-start;
    text-align: left;
    flex-direction: column;
}
.heading-container > .page-heading {
    /*ensure text doens't wrap too early*/
    width: 100%;
    /*pack everything tighter*/
    margin: 0%;
}
.heading-container > .page-description {
    /*space this from the shop all button, since it is more closely linked to the heading*/
    margin: 0 0 2rem 0;
    /*ensure text doens't wrap too early*/
    width: 100%;
}   
.hero-section > .cta-container > .cta-button {
    /*sizing*/
    width: 90%;
    height: 80%;
    font-size: var(--text-md);
    /*vertical centering*/
    align-self: center;
    /*roudning corners*/
    border-radius: 20rem;
}
.hero-section > .display-image-container {
    display: flex;
    /*image shows at the end to visually balance with header, which shows at start*/
    justify-content: flex-end;
}
.hero-section > .display-image-container > .display-image {
    /*show vertically at top to align with heading and throwaway*/
    align-self: flex-start;
    /*sizing*/
    width: 70%;
    height: 90%;
}
.hero-section > .throwaway-image-container {
    display: flex;
    /*show them at each end of the container*/
    justify-content: space-between;
    /*one image is underneath the other*/
    flex-direction: column;
}
.hero-section > .throwaway-image-container > .image-one {
    /*sizing*/
    width: 7rem;
    height: 45%;
    /*show toward left end horizontally*/
    margin-left: 30%;
    margin-right: auto;
}
.hero-section > .throwaway-image-container > .image-two {
    /*sizing*/
    width: 7rem;
    height: 45%;
    /*show toward right end horizontally*/
    margin-left: auto;
    margin-right: 0%;
}

/*separator*/
.separator {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2rem;
}

.separator > .carousel {
    width: 30rem;
}

/*category section*/
.category-section {
    /*spacing*/
    margin: 2rem 0 2rem 0;
    padding: 0%;
    /*extends whole viewport width*/
    width: 100vw;
    /*display*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.category-rows {
    display: flex;
    flex-direction: column;
}
.row-one, .row-two {
    display: flex;
    flex-direction: row;
}
.row-one > .category-button, .row-two > .category-button {
    margin: 1rem;
}

/*our story and subscribe sections*/
.info-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.our-story-section {
    width: 50%;
    padding: 2rem;
    background-color: var(--color-secondary);
    font-size: var(--text-base-size);
}

.subscribe-section {
    width: 50%;
    padding: 2rem;
    padding-bottom: 4rem;
    background-color: var(--color-secondary);
}

.info-subsection {
    display: flex;
    justify-content: center;
}

.content > .carousel {
    /*center carousels*/
    margin: 0 auto 0 auto;
}

.info-subsection > .content {
    /*each section has downward flow*/
    display: flex;
    flex-direction: column;
    /*sizing*/
    width: 80%;
}

.subscribe-section > .content > * {
    font-size: var(--text-base-size);
    /* set desktop colors */
    color: var(--color-text-light);
}

.subscribe-section > .content > .text-content {
    /*paragraph height*/
    margin-bottom: 2rem;
}

/*subscribe form*/
.subscribe-form {
    display: flex;
    width: 70%;
    flex-direction: column;
    /*center form*/
    margin-left: auto;
    margin-right: auto;
}

.subscribe-form > .input-container {
    display: flex;
    flex-direction: column;
}

.subscribe-form > .input-container + .input-container{
    /*margin between inputs*/
    margin-top: 0.5rem;
}

.subscribe-form .input-container:last-of-type {
    /*margin between submit button and input*/
    margin-bottom: 1.2rem;
}

.input-container > .text-input {
    border-radius: 2pt;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-text-light);

    font-size: var(--text-base-size);
    padding: 0.5rem 1rem 0.7rem 1rem;

    /*typography*/
    font-family: var(--font-primary);
    color: var(--color-text-light);
}

.input-container > .text-label {
    color: var(--color-text-light);
    font-family: var(--font-primary);
}

.thank-you-message {
    /*is displayed when form is submitted*/
    display: none;
    /* center the text */
    margin-left: auto;
    margin-right: auto;
}

/*award image*/
.award-image {
    display: flex;
    width: 25%;
    /*center the image*/
    margin: 5rem auto 5rem auto;
}


/*adapts to mobile*/
@media screen and (max-width: 768px){
    .hero-section {
        /*removes throwaway images to save screenspace*/
        grid-template-columns: 3fr 0fr 2fr;
        grid-template-rows: 3fr 1fr;
        grid-template-areas:
        "heading  other-images big-image"
        "cta cta cta";
    }
    /*ensures they do not display*/
    .throwaway-image-container {    
        display: none !important;
    }

    .hero-section > .cta-container {
        /*center cta, since it makes more sense when taking up the whole width*/
        justify-content: center;
    }
    .hero-section > .cta-container > .cta-button {
        /*buttons changes size to fit screen width, for improved usability*/
        width: 90%;
        height: 90%;
    }
    .hero-section > .display-image-container > .display-image {
        /*makes it look more center, considering the border radii*/
        margin-top: auto;
        margin-bottom: 35%;
        /*change height so image is less stretched on smaller screen*/
        height: 70%;
    }

    /*to counteract the width of the hidden border*/
    .category-section {
        margin-left: -1rem;
    }

    /*info section adapting*/
    .info-section {
        /*in mobile mode, subscribe section goes under our story, instead of next to*/
        flex-direction: column;
    }
    .info-subsection {
        /*no longer next to so they can take up the whole space*/
        width: 100%;
    }
    
    .subscribe-section {
        /*no longer in the dark section, must change color to be seen*/
        background-color: var(--color-primary);
    }
    .subscribe-section > .content > * {
        /*no longer in the dark section, must change color to be seen*/
        color: var(--color-text-dark);
    }
    /*subscribe form*/
    .input-container > .text-input, .input-container > .text-label {
        /*no longer in the dark section, must change color to be seen*/
        color: var(--color-text-dark);
    }

    .input-container > .text-input {
        /*no longer in the dark section, must change color to be seen*/
        background-color: var(--color-primary);
        border: 1px solid var(--color-text-dark);
    }

    .subscribe-form > .btn.invert-color {
        /*no longer in the dark section, must change color to be seen*/
        background-color: var(--color-secondary);
        color: var(--color-text-light);
    }

    .subscribe-section {
        /*on same level as award image, extra padding makes spacing seem uneven*/
        padding-bottom: 0;
    }

    .award-image {
        width: 40%;
        margin: 5rem auto 5rem auto;
    }
}