.product-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid green;
    margin-top: 2rem;
}

.product-images-grid {
    /*grid setup*/
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    /*what grid item goes where*/
    grid-template-areas: 
        "image-options main-image";

    width: 20rem;
    height: 100%;
}

.image-options {
    grid-area: image-options;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.image-option {
    display: flex;
    width: 100%;
    object-fit: cover;
}

.image-option + .image-option {
    margin-top: 0.2rem;
}

.main-image {
    grid-area: main-image;

    padding: 0 1rem 0 1rem;
    height: 100%;
}

/*description section*/
.description-section {
    margin-right: calc((100% - min(max(80vw,32rem), 75rem)) / 2);
    border: 2px solid blue;
}

/*adapts to mobile*/
@media screen and (max-width: 768px){
    .product-section {
        /*center content*/
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        justify-content: center;
        width: 70%;
    }
    .product-images-grid {
        /*center grid*/
        margin-left: auto;
        margin-right: auto;
        /*grid setup*/
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        /*what grid item goes where*/
        grid-template-areas: 
            "main-image image-options";

        width: 100%;
        height: 20rem;
    }

    .description-section {
        /*center grid*/
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}