@import url('/styles/layouts/header.css');
@import url('/styles/layouts/footer.css');
@import url('/styles/layouts/landing-page-layout.css');
@import url('/styles/layouts/results-page-layout.css');
@import url('/styles/layouts/product-page-layout.css');
@import url('/styles/layouts/cart-page-layout.css');
@import url('/styles/layouts/payment-form-layout.css');

.grid-container {
    display: grid;
    /*outline: 2px solid blue;*/
}

.grid-item {
    /*for testing*/
    outline: 2px solid red;
    outline: none;
}
