/*header*/
.header {
    /*allows for control on contents*/
    display: flex;
    /*should be fixed to the top of the screen*/
    position: fixed;

    /*take up full width of screen with no gaps*/
    top: 0%;
    left: 0%;
    width: 100vw;

    /*ensures content leaves as much room in between as permitted*/
    justify-content: space-between;
    align-items: center;
    /*change this to rems to make responsive*/
    height: 100px;
    

    /*padding*/
    padding-left: 3rem;
    padding-right: 3rem;

    border: 1pt solid red;

    background-color: var(--color-secondary);
}

.nav-group {
    display: flex;
    flex-direction: row;
    border: 1pt solid var(--color-primary);
}

.search-bar {
    width: 70%;
    justify-content: center;
    height: 2rem;
    border: 0;
    border-radius: 40px;
    font-family: var(--font-primary);
    font-size: 1rem;
    background-image: url('/images/icons/search-icon.svg');
    background-color: var(--color-primary);
    background-position: 10px 50%;
    background-size: 1rem;
    background-repeat: no-repeat;
    padding: 0.75rem 0.5rem 0.8rem 2.5rem;
}

.nav-left {
    justify-content: flex-start;
    margin-right: 2rem;
}

.nav-right {
    justify-content: flex-end;
    margin-left: 2rem;
}

@media screen and (max-width: 390px){
    /*adapts to mobile*/
}

/*home page*/

/*etc. */