:root{
    /*font variables*/
    --font-primary: "Zen Old Mincho";
    --font-display: "Qaligo";

    /*sizing*/
    --text-base-size: 12pt;
    --text-scale-ratio: 1.3;
    --text-xs: calc(var(--text-base-size) / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-sm: calc(var(--text-base-size) / var(--text-scale-ratio));
    --text-md: calc(var(--text-base-size) * var(--text-scale-ratio));
    --text-lg: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxl: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) 
                                                    * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxxl: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio)
                                                    * var(--text-scale-ratio) * var(--text-scale-ratio) 
                                                    * var(--text-scale-ratio));
    /*rems are based on font-size, which will be the base size*/
    font-size: var(--text-base-size);

    /*spacing*/
    /*WORK OUT WHAT THIS IS FOR*/
    --baseline: 1em;
    --space-sm: calc(var(--baseline) / 2);
    --space-md: calc(var(--baseline));
    --space-lg: calc(var(--baseline) * 2);
    --space-xl: calc(var(--baseline) * 3);

    /*line height*/
    --base-line-height: 1em;
    --heading-line-height: calc(var(--base-line-height) * 1.2);
    --body-line-height: calc(var(var(--base-line-height)) * 1.4);
}

body {
    color: var(--color-text-dark);
    line-height: var(--body-line-height);
}

@media screen and (max-width: 460px){
    /*makes sizes based on rem adapt*/
    :root{
        --text-base-size: 8pt;
        --baseline: 1em;
    }
}

/*text types*/
.heading {
    font-family: var(--font-display), serif;
}

.page-heading {
    /*size, color, spacing*/
    color: var(--color-accent-2);
    font-size: var(--text-xxxl);
}

.text-content {
    color: var(--color-text-dark);
    font-family: var(--font-primary);
}

.page-description{
    display: block;
    font-size: var(--text-lg)
}

.invert-color {
    color: var(--color-primary)
}
