/*use web font generator for this */
@font-face {
    font-family: '';
    src: url();
}

:root{
    --font-primary: sans-serif;
    --font-display: sans-serif;
    --text-base-size: 1.25em;

    --text-scale-ratio: 1.2;
    --text-xs: calc(1rem / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-sm: calc(1rem / var(--text-scale-ratio));
    --text-md: calc(1rem * var(--text-scale-ratio));
    --text-lg: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxl: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio) 
                                                    * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxxl: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio)
                                                    * var(--text-scale-ratio) * var(--text-scale-ratio) 
                                                    * var(--text-scale-ratio));
}

h1 {
    font-size: var(--text-xl);
}

p {
    font-size: var(--text-md);
}

@media screen and (min-width: 60em){
    :root{
        --text-base-size: 1em;
    }
    
}

